.App {
  display: flex;
  flex-direction: row;
  height: 500vh;
  background-color: rgba(255, 100, 255, 0.1);
}

.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.video-wrapper video {
    width: 100%;
}