.photos {
    display: flex;
}

.popup {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
    .popup.is-active {
        opacity: 1;
        pointer-events: auto;
    }

.background {
    padding: 20px;
    background-color: #fff;

    display: flex;
    // justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    margin: 10px 0 0 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.finish-editing,
.cancel-editing {
    border: none;
}

.console {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

.input-wrapper {
    position: relative;

    text-align: center;
    line-height: 20px;
    border: 2px dashed #4da1ff;
    border-radius: 3px;

    width: 480px;
    height: 100px;
}
    
.input-wrapper__input,
.input-wrapper__field {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.input-wrapper__input {
    opacity: 0;
    width: 100%;
}

.input-wrapper__field {
    pointer-events: none;
    text-align: center; 

    padding: 0 125px;
    align-items: center;
    justify-content: center;
    flex: 0 1 100%; 
}